{
  "SCHEDULE_OUTPUT": {
  	"format": "{job_id};{job_name};{user};{queue};{queue_time}__{assignations}__{start_time};{end_time};{total_nodes};{total_cores};{total_mem};{wtime};NA;NA;NA;NA",
  	"attributes": {
	  	"job_id": {"items": ["id", "str"], "__tuple__": true},
	  	"job_name": {"items": ["job_name", "str"], "__tuple__": true},
	  	"user": {"items": ["user_id", "str"], "__tuple__": true},
	  	"queue": {"items": ["queue", "str"], "__tuple__": true},
	  	"queue_time": {"items": ["queued_time", "accasim.utils.misc.str_datetime"], "__tuple__": true},
	  	"start_time": {"items": ["start_time", "accasim.utils.misc.str_datetime"], "__tuple__": true},
	  	"end_time": {"items": ["end_time", "accasim.utils.misc.str_datetime"], "__tuple__": true},
	  	"assignations": {"items": ["assigned_nodes", "requested_resources", "accasim.utils.misc.str_resources"], "__tuple__": true},
	  	"total_nodes": {"items": ["requested_nodes", "int"], "__tuple__": true},
	  	"total_cores": {"items": ["total_core", "int"], "__tuple__": true},
	  	"total_mem": {"items": ["total_mem", "int"], "__tuple__": true}, 
	  	"wtime": {"items": ["expected_duration", "str"], "__tuple__": true}  	
	}
  },
  "PPRINT_SCHEDULE_OUTPUT": {
  	"format": "{:>5} {:>15} {:^19} {:^19} {:>8} {:>8} {:>8} {:>5} {:<20}",
  	"order": ["n", "job_id", "start_time", "end_time", "wtime", "rtime", "slowdown", "nodes", "assigned_nodes"],
  	"attributes":{
  		"n": {"items": ["end_order", "int"], "__tuple__": true},
  		"job_id": {"items": ["id", "str"], "__tuple__": true},
  		"start_time": {"items": ["start_time", "accasim.utils.misc.str_datetime"], "__tuple__": true},
  		"end_time": {"items": ["end_time", "accasim.utils.misc.str_datetime"], "__tuple__": true},
  		"wtime": {"items": ["waiting_time", "int"], "__tuple__": true},
  		"rtime": {"items": ["running_time", "int"], "__tuple__": true},
  		"slowdown": {"items": ["slowdown", "float"], "__tuple__": true},
  		"nodes": {"items": ["requested_nodes", "int"], "__tuple__": true},
  		"assigned_nodes": {"items": ["assigned_nodes", "accasim.utils.misc.str_nodes"], "__tuple__": true}
  	}
  }
}